*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
}
.container{/*CONTAINER PADRE*/
    width: 100%;
}
.nav{/*CONTAINER PADRE*/
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f1f1f1;
}
.nav img{
    width: 6%;
    margin-left: 3%;
}
.buttons{
    width: 50%;
    display: flex;
    justify-content: space-around;
}
.buttons span{
    font-size: 14px;
    font-weight: 600;
}
.buttons span:hover{
    cursor: pointer;
}
.search{
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.search input{
    border: none;
    width: 70%;
    height: 30px;
    border-radius: 15px;
}
.cart{
    width: 8%;
    display: flex;
    justify-content: space-around;
}
.cart span{
    font-weight: 800;
    margin-left: 10%;
}
.maincontent{/*CONTAINER PADRE*/
    width: 100%;
    display: flex;
}
.content{/*CONTAINER PADRE*/
    width: 78%;
    height: 1500px;
    padding: 15px 0 0 25px;
}
.pageubication{
    width: 100%;
    display: flex;
}
.pageubication h3{
    color: #bfbdbb;    
    font-size: 14px;
    font-weight: 100;
}
.pageubication span{
    font-size: 14px;
    font-weight: 600;
}
.product{
    width: 100%;
    display: flex;
    align-items: center;
}
.product img{
    width: 40%;
}
.productdescription{
    width: 100%;
}
.productdescription span{
    color: #bfbdbb;
    font-size: 13px;
    font-weight: 600;
}
.productdescription h1{
    margin-bottom: 20px;
}
.productdescription p{
    color: #bfbdbb;
    font-size: 15px;
    margin-bottom: 50px;
}
.productdescription p a{
    text-decoration: underline;
    color: #bfbdbb;
}
.producticons{
    width: 50%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.producticons i{
    margin-bottom: 10px;
}
.measures{
    width: 50%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #f1f1f1;
}
.measures span{
    color: black;
}
.price{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.price span{
    font-size: 40px;
    font-weight: 800;
}
.price button{
    background-color: #ffc23f;
    width: 15%;
    height: 40px;
    font-size: 12px;
    font-weight: 600;
    border: none;
    border-radius: 20px;
    margin-left: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.price button i{
    background-color: white;
    border-radius: 50px;
    margin-left: 10%;
}
.price button:hover{
    cursor: pointer;
}
.allproducts{
    background-image: url(img/showcase.jpg);
    background-size: cover;
    width: 100%;
    height: 600px;
    margin-top: 30px;
}
.card{
    background-color: white;
    width: 25%;
    height: 250px;
    position: relative;
    top: 20px;
    left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card h3{
    font-size: 13px;
    color: #bfbdbb;
}
.card span{
    font-size: 40px;
    font-weight: 800;
    margin-top: 15px;
}
.card button{
    background-color: #ffc23f;
    width: 60%;
    height: 40px;
    font-size: 12px;
    font-weight: 600;
    border: none;
    border-radius: 20px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card button i{
    background-color: white;
    border-radius: 50px;
    margin-left: 10%;
}
.card button:hover{
    cursor: pointer;
}
.previews{
    background-color: violet;
    width: 50%;
    height: 120px;
    display: flex;
    flex-direction: row;
    position: relative;
    top: 280px;
    left: 2%;
}
.preview1{
    width: 33.33%;
    background-image: url(img/preview1.jpeg);
    background-size: cover;
}
.preview2{
    width: 33.33%;
    background-image: url(img/preview2.jpeg);
    background-size: cover;
}
.preview3{
    width: 33.33%;
    background-image: url(img/preview3.jpeg);
    background-size: cover;
}
.details{
    width: 100%;
    height: 400px;
    display: flex;
    margin-top: 80px;
}
.detail{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.detail h3{
    font-size: 25px;
    height: 90px;
}
.detail i{
    margin-bottom: 25px;
}
.arrow i{
    border: 1px solid #939495;
    border-radius: 50px;
    padding: 10px;
}
.arrow:hover{
    cursor: pointer;
}
.user{/*CONTAINER PADRE*/
    width: 22%;
    height: 900px;
    padding: 90px 0 0 30px;
    border-left: 1px solid #f1f1f1;
}
.name img{
    width: 13%;
}
.name h2{
    font-size: 20px;
}
.proposals{
    margin-top: 10px;
}
.proposals h3{
    font-size: 14px;
    color: #bfbdbb;
    margin-bottom: 10px;
}
.stockholm{
    width: 75%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid #f1f1f1;
    border-right: 3px solid #ffc23f;
    border-bottom: 1px solid #f1f1f1;
    padding-left: 20px;
}
.stockholm span{
    font-weight: 600;
    margin-left: 10%;
}
.reactive{
    width: 75%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
}
.reactive span{
    font-weight: 600;
    margin-left: 10%;
}
.choices{
    margin-top: 30px;
}
.choices h3{
    font-size: 14px;
    color: #bfbdbb;
    margin-bottom: 10px;
}
.message{
    width: 95%;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
.choices button{
    width: 18%;
    height: 50px;
    border: none;
    background-color: #ffc23f;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choices button:hover{
    cursor: pointer;
}
.choice{
    width: 75%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #f1f1f1;
}
.choice span{
    font-size: 14px;
    font-weight: 600;
}
.youmight{/*CONTAINER PADRE*/
    background-color: #fafafa;
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    padding-left: 20px;
    padding-top: 30px;
    padding-right: 50px;
    padding-bottom: 40px;
}
.title{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}
.title h2{
    font-size: 35px;
}
.title span{
    color: #bfbdbb;
    font-size: 13px;
}
.arrows{
    margin-top: 35px;
}
.arrows i{
    border: 1px solid black;
    border-radius: 50px;
    padding: 10px;
}
.arrows i:hover{
    cursor: pointer;
}
.similar{
    background-color: white;
    width: 25%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #f1f1f1;
    padding-left: 20px;
}
.similar img{
    width: 70%;
}
.similar h3{
    font-size: 25px;
    margin-bottom: 5px;
}
.similar span{
    font-size: 12px;
    font-weight: 500;
    color: #bfbdbb;
}
.similar h4{
    font-size: 23px;
    font-weight: 800;
    margin-top: 10px;
}
.similar button{
    background-color: #ffc23f;
    width: 55%;
    height: 40px;
    font-size: 12px;
    font-weight: 600;
    border: none;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.similar button i{
    background-color: white;
    border-radius: 50px;
    margin-left: 10%;
}
.similar button:hover{
    cursor: pointer;
}
.end{
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}
.fromour{/*CONTAINER PADRE*/
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: row;
    padding: 40px 100px 40px 20px;
}
.hashtags{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hashtags h2{
    font-size: 35px;
}
.hashtags span{
    color: #bfbdbb;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 85px;
}
.hashtags a{
    text-decoration: underline;
    color: black;
}
.media{
    background-color: blue;
    width: 80%;
    display: flex;
    flex-direction: row;
}
.media1{
    background-image: url(img/gallery1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 80%;
    width: 70%;
    border-right: 2px solid white;
}
.media2{
    background-color: brown;
    width: 30%;
    display: flex;
    flex-direction: column;
}
.img1{
    background-image: url(img/gallery2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    border-bottom: 2px solid white;
}
.img2{
    background-image: url(img/gallery3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
}
.footer{/*CONTAINER PADRE*/
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px 0 20px;
    border-top: 1px solid #f1f1f1;
}
.footer img{
    width: 6%;
}
.shortcuts{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.legend{
    margin-bottom: 20px;
}
.legend h3{
    color: #bfbdbb;
    font-size: 15px;
    font-weight: 500;
}
.services{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}
.services span{
    font-size: 14px;
    font-weight: 600;
    margin-top: 15px;
}
.services span:hover{
    cursor: pointer;
}
.sevices span:hover{
    cursor: pointer;
}
.up{
    width: 35px;
    height: 35px;
    border: 1px solid black;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.up a{
    text-decoration: underline;
    color: black;
}
.icons{
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.md-inactive{ 
    color: rgba(0, 0, 0, 0.26); 
}
.md_gray{
    color: #ababaa;
}
.md-grey{
    color: #939495;
}
.md-18{
    font-size: 18px;
}
.md-56{
    font-size: 56px;
}